## Note

*   Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data_df)

## Player Count

*   Display the total number of players

In [2]:
# Find the Total Number of Players and create a DataFrame 
total_players = len(purchase_data_df['SN'].unique())
total_players_df = pd.DataFrame (
    {"Total Players": [576]
    }
    )
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

*   Run basic calculations to obtain number of unique items, average price, etc.

*   Create a summary data frame to hold the results

*   Optional: give the displayed data cleaner formatting

*   Display the summary data frame

In [3]:
# Find the Number of Uniquie Items, Purchase Price, Total Number of Purchases, Total Revenue
numuniqueitems = len(purchase_data_df['Item ID'].unique())
avgprice = purchase_data_df['Price'].mean() 
totalpur =purchase_data_df['Purchase ID'].count()
totalrev = purchase_data_df['Price'].sum()

In [4]:
# Create Data Frame of Purchasing Analysis
purchase_analysis_df = pd.DataFrame (
    {"Number of Unique Items": [numuniqueitems],
     "Average Price": [f"${round(avgprice,2)}"],
     "Number of Purchases" : [totalpur],
     "Total Revenue" : [f"${round(totalrev,2)}"]
    }
    )
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## GENDER DEMOGRAPHICS

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Percent and Count by Gender
genderdf = pd.DataFrame(purchase_data_df['Gender'].value_counts())
genderdf["Percentage"] =  genderdf['Gender'] / totalpur
genderdf

                       Gender  Percentage
Male                      652    0.835897
Female                    113    0.144872
Other / Non-Disclosed      15    0.019231

## Purchasing Anaysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [6]:
# Purchase Count by Gender
purchase_count = purchase_data_df.groupby('Gender').SN.count()
avg_pur_price = purchase_data_df.groupby('Gender').Price.mean()
tot_pur_val = purchase_data_df.groupby('Gender').Price.sum()

In [7]:
# Create Data Frame of Purchasing Analysis by Gender
purgenderdf = pd.DataFrame (
    {"Purchase Count": purchase_count,
     "Average Purchase Price": avg_pur_price,
     "Total Purchase Value" : tot_pur_val
    }
    )
purgenderdf

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish bins for ages and create labels 
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#Cut data using pd.cut and  Categorize the existing players based on age_bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=age_range) 

#Get the number of players into the correct age bins
age_count = purchase_data_df["Age Group"].value_counts()

#Get the percent of players per age
percentplay = age_count / total_players

#Print the Bins and Percentages
agedemodf = pd.DataFrame (
    {"Total Count": age_count,
     "Percentage of Players": percentplay 
     }
    )
agedemodf

       Total Count  Percentage of Players
20-24          365               0.633681
15-19          136               0.236111
25-29          101               0.175347
30-34           73               0.126736
35-39           41               0.071181
10-14           28               0.048611
<10             23               0.039931
40+             13               0.022569

## Purchasing Analysis (Age)
*   Bin the purchase_data data frame by age

*   Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

*   Create a summary data frame to hold the results

*   Optional: give the displayed data cleaner formatting

*   Display the summary data frame

In [8]:
# Find the Purchase Analysis by Age

purch_ct = purchase_data_df.groupby('Age Group').SN.count()
avg_pprice = purchase_data_df.groupby('Age Group').Price.mean()
totes_pur_val = purchase_data_df.groupby('Age Group').Price.sum()

In [9]:
# Create Data Frame of Purchasing Analysis by Age
purch_by_age = pd.DataFrame (
    {"Purchase Count": purch_ct,
     "Average Purchase Price": avg_pprice,
     "Total Purchase Value" : totes_pur_val
    }
    )
purch_by_age

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
<10                    23                3.353478                 77.13
10-14                  28                2.956429                 82.78
15-19                 136                3.035956                412.89
20-24                 365                3.052219               1114.06
25-29                 101                2.900990                293.00
30-34                  73                2.931507                214.00
35-39                  41                3.601707                147.67
40+                    13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Find the Top Spenders 

top_purch_ct = purchase_data_df.groupby('SN').SN.count()
ts_pprice = purchase_data_df.groupby('SN').Price.mean()
ts_pur_val = purchase_data_df.groupby('SN').Price.sum()

In [11]:
# Create Data Frame of Top Spenders by SN
top_spenders = pd.DataFrame (
    {"Purchase Count": top_purch_ct, 
     "Average Purchase Price": ts_pprice,
     "Total Purchase Value" : ts_pur_val
    }
    )
top_spenders.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# Find the Most Popular Items

pop_item = purchase_data_df.groupby('Item Name').SN.count()
pop_item_ct = purchase_data_df.groupby('Item ID').Price.mean()
pop_item_value = purchase_data_df.groupby('Item ID').Price.sum()

In [31]:
popitems_df = pd.DataFrame (
    {"Purchase Count": pop_item, 
     "Average Purchase Price": pop_item_ct,
     "Total Purchase Value" : pop_item_value
    }
    )
popitems_df.head()

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
0                     4                  1.2800                  5.12
1                     4                  2.9425                 11.77
2                     6                  2.4800                 14.88
3                     6                  2.4900                 14.94
4                     5                  1.7000                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame