## Note

*   Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data_df)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

*   Display the total number of players

In [2]:
# Find the Total Number of Players and create a DataFrame 
total_players = len(purchase_data_df['SN'].unique())
total_players_df = pd.DataFrame (
    {"Total Players": [576]
    }
    )
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

*   Run basic calculations to obtain number of unique items, average price, etc.

*   Create a summary data frame to hold the results

*   Optional: give the displayed data cleaner formatting

*   Display the summary data frame

In [3]:
# Find the Number of Uniquie Items, Purchase Price, Total Number of Purchases, Total Revenue
numuniqueitems = len(purchase_data_df['Item ID'].unique())
avgprice = purchase_data_df['Price'].mean() 
totalpur =purchase_data_df['Purchase ID'].count()
totalrev = purchase_data_df['Price'].sum()

In [4]:
# Create Data Frame of Purchasing Analysis
purchase_analysis_df = pd.DataFrame (
    {"Number of Unique Items": [numuniqueitems],
     "Average Price": [f"${round(avgprice,2)}"],
     "Number of Purchases" : [totalpur],
     "Total Revenue" : [f"${round(totalrev,2)}"]
    }
    )
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## GENDER DEMOGRAPHICS

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Percent and Count by Gender
genderdf = pd.DataFrame(purchase_data_df['Gender'].value_counts())
genderdf["Percentage"] =  genderdf['Gender'] / totalpur
genderdf

                       Gender  Percentage
Male                      652    0.835897
Female                    113    0.144872
Other / Non-Disclosed      15    0.019231

## Purchasing Anaysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [6]:
# Purchase Count by Gender
purchase_count = purchase_data_df.groupby('Gender').SN.count()
avg_pur_price = purchase_data_df.groupby('Gender').Price.mean()
tot_pur_val = purchase_data_df.groupby('Gender').Price.sum()

In [7]:
# Create Data Frame of Purchasing Analysis by Gender
purgenderdf = pd.DataFrame (
    {"Purchase Count": purchase_count,
     "Average Purchase Price": avg_pur_price,
     "Total Purchase Value" : tot_pur_val
    }
    )
purgenderdf

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Establish bins for ages and create labels 
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#Cut data using pd.cut and  Categorize the existing players based on age_bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],bins, labels=age_range) 

#Get the number of players into the correct age bins
age_count = purchase_data_df["Age Group"].value_counts()

#Get the percent of players per age
percentplay = age_count / total_players

#Print the Bins and Percentages
agedemodf = pd.DataFrame (
    {"Total Count": age_count,
     "Percentage of Players": percentplay 
     }
    )
agedemodf

       Total Count  Percentage of Players
20-24          365               0.633681
15-19          136               0.236111
25-29          101               0.175347
30-34           73               0.126736
35-39           41               0.071181
10-14           28               0.048611
<10             23               0.039931
40+             13               0.022569

KeyError: 'Age Group'

## Purchasing Analysis (Age)
*   Bin the purchase_data data frame by age

*   Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

*   Create a summary data frame to hold the results

*   Optional: give the displayed data cleaner formatting

*   Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame